@import "tailwindcss";

:root {
  min-height: 100vh;
  background-color: #0d0d0d;
  background-image:
    repeating-linear-gradient(
      0deg,
      transparent,
      transparent 39px,
      rgba(255, 255, 255, 0.02) 39px,
      rgba(255, 255, 255, 0.02) 40px
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 39px,
      rgba(255, 255, 255, 0.02) 39px,
      rgba(255, 255, 255, 0.02) 40px
    );
  font-family: "Barlow", sans-serif;
  color: #e8e8e8;
}

